body{
	margin: 0;
	padding: 0;
}
header {
    height:100px;
    background-color:#000;
    color:#FFF;
}
.header {
    max-width:1140px;
    height:6rem;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.logo_img {
    width:80px;
    height:80px;
    background-color:#B28756;
    border-radius:100%;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style:none;
} 
.menu ul {
    display:flex;
}
a{
	text-decoration: none;
}
.menu li a {
    color:#FFF;
    text-transform: uppercase;
    font-weight: 600;
 
    padding-left:10px;
    padding-right:10px;
    height:100px;
    display:flex;
    align-items:center;
    border-bottom:5px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid #B28756;
    color:#CCC;
}

.img_banner{
	display: flex;
	justify-content: center;
	background-image: url('../imagens/bg.jpg');
    background-position: bottom;
	background-size: cover;
	height: 53rem;
	flex-direction: column;
}
h1{
	color: white;
    font-size: 60px;
}
h3{
	color: white;
    font-size: 25px;
}
span{
	color: #B28756;
}
.cor_banner{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info_banner{
    
    justify-content: center;
    max-width: 35rem;
}
.titulo_banner{
   display: flex;
   flex: 1;
}
.contato_banner{
   display: flex;
   justify-content: center;
   flex: 2;
}
.botao_banner{
    display: flex;
   justify-content: center;
   flex: 3;
}

button {
    background-color:#B28756;
    color:#FFF;
    
    font-size:12px;
    font-weight:600;
    border: 0;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
}
.info{
    margin: auto;
    justify-content: center;
    width: 90%;
    
}
.info_titulo{
    color: black;
    display: flex;
    justify-content: center;

}
.info_titulo_cor{
    color: #CCC;
    font-size: 20px;
}
.info_noticia{
   width: 90%;
    display: flex;
    margin: auto;
}
.info_conteudo{
    display: flex;
}
.info_text{
    width: 50%;
    margin: 1rem;
}
img{
    width: 100%;
}
p{
    font-size: 20px;
}
.rodape{
    margin-top: 3rem;
    background-color: black;
    height: 30rem;
}
.rodape_card{
    margin-top: 3rem;
    width: 80%;
    margin: auto;
}
.servico{
    display: flex;
}
.cards{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.cards:first-child{
    
   
    border-left: 1px solid #333;
   
}
.img_card{
    width: 20%;
}
h4{
    color: white;
}
.card_text{
    color: white;
}
@media screen (max-width 885px){
    .info_noticia{
        width: 90%;
        margin: auto;
    }
    .servico{
        display: flex;
        flex-direction: column;
    }
}